{% extends 'site_base.html' %}

{% block body %}


<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />

{% load static %}
  <div class="site-blocks-cover" style="background-image: url(static/images/SolarPanels_large.jpg);" data-aos="fade">
    <div class="container">
      <div class="row align-items-start align-items-md-center justify-content-end">
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <h2 class="text-uppercase" style="color:black">About Us</h2>
      <p>
        Medlawake Electrical and Solar was founded in 2003 as Medlawake Enterprises to offer services in Electrical installations, maintenance, repairs, suppliers, consultancy,	planning and designing.The company grew by the years and today it stands a cut above competitors in offering	the above service. Our expertise speak for us, and by having experienced personnel in our company we
         have managed in most cases, to exceed our clients expectations.	This is because we have stayed in the industry and followed through changes in the related technologies, diversification.	Due to our experience through years of quality installations, we now offer solutions to clients with varying needs.
      </p>
    </div>
  </div>

  <div class="site-section site-section-sm site-blocks-1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
          <div class="icon mr-4 align-self-start">
            <span class="icon-truck"></span>
          </div>
          <div class="text">
            <h2 class="text-uppercase">Our Vision</h2>
            <p>To become a preferred provider of electrical contracting, solar systems and
	             Inverter installations, maintenance, repairs, suppliers at world class standards
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
          <div class="icon mr-4 align-self-start">
            <span class="icon-refresh2"></span>
          </div>
          <div class="text">
            <h2 class="text-uppercase">Our Mission</h2>
            <p>To provide affordable , safe ,reliable quality services in electrical contracting solar
            	systems and inverter installations, maintenance and repairs.
            	To supply top class products followed by matching excellent installation services
            	to our clients.
            	To cultivate a culture of delivering a quality guaranteed service to both
            	Commercial and household clients by expert labor
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
          <div class="icon mr-4 align-self-start">
            <span class="icon-help"></span>
          </div>
          <div class="text">
            <h2 class="text-uppercase">Our values</h2>
            <p>
              To maintain focus on our valued clients. To enhance teamwork and integrity.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section border-bottom" data-aos="fade">
   <div class="container">
     <br>
     <br>
     <div class="row mb-5">
       <div class="col-md-6">
         <div class="block-16">
             <img src="{% static 'images/about.jpg' %}" alt="Image placeholder" class="img-fluid rounded">
         </div>
         <br>
         <h5>Consultancy</h5>
         <p>
           We offer consultancy services for Network design implementation and maintenance. Our team can develop tailor made designs to suit various requirements.
         </p>
       </div>
       <div class="col-md-1"></div>
       <div class="col-md-5">
         <div class="site-section-heading pt-3 mb-4">
           <h2 class="text-black">Services we offer</h2>
         </div>
         <ul>
          <h5>Electrical Installations</h5>
          <p>
            We do turnkey electrical installations, Becausewe know how to install test and commission projects.
          </p>
          <h5>Solar Installations</h5>
          <p>
            Our Engineers and Technicians have vast in solar projects delivery.
          </p>

          <h5>Electrical Network Maintenance and Repairs</h5>
          <p>
            We are a low cost maintenance contractor
          </p>
          <h5>Project Management</h5>
          <p>
            The management team at Medlawake has more
            Electrical Network Maintenance and Repairs	than ten years combined experience. As a result we have capacity to direct and oversee a build-out of any magnitude-nationality and internationally. Contracting	Our teams fully understand projects life cycle from conception, planning ,implementation with monitoring & control to project closure

          </p>
        </ul>

       </div>
     </div>
   </div>
 </div>

<div id='map' style='width: 100%; height: 50%;'></div>

<script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoidGtjaGlrb25kbyIsImEiOiJjazc1OWt3ZHUwdHZ0M2R0MHB2ejltdHJvIn0.u5k6lkIgyJ0cTSEv5LWu0w';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11', // style URL
    center: [31.049665612581066,-17.833522484318706], // starting position as [lng, lat]
    zoom: 17
  });

var marker = new mapboxgl.Marker()
  .setLngLat([31.049665612581066,-17.833522484318706])
  .addTo(map);
</script>

<div class="container">
  <br>
  <h3>Add review</h3>
  <br>
  <div id="disqus_thread"></div>  
</div>

<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = 516516; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://medlawake.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"></a></noscript>
                            

{% endblock %}
