{% extends 'site_base.html' %}

{% block body %}
<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a class="nav-breadcrumb" href="{% url 'index' %}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <h3 class="text-black h5">Products</h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="border p-4 rounded mb-4">
          <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
          <ul class="list-unstyled mb-0">
  
            {% for category_name , category_count in product_context.items %}
                {% if category_count > 0 %}
                <li class="mb-1"><a href="#" class="d-flex">
                  <span class="category-link">{{category_name}}</span>
                  <span class="text-black ml-auto">{{ category_count }}</span></a>
                </li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row mb-5">
          {% for product in context.products %}
          <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
            <div class="block-4 text-center border">
              <figure class="block-4-image">
                <img src="{{ product.product_image.url }}" alt="Product image" class="img-fluid"></a>
              </figure>
              <div class="block-4-text p-4">
                <h3 class="product-name">{{ product.product_name }}</h3>
                <p class="mb-0 product-description">{{ product.product_description }}</p>
                <p class="product-price">$ {{ product.price }}</p>
                <a class="product-info" href="{{product.product_brochure.url}}">product info</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>  
      </div>  
    </div>
  </div>
</div>
{% endblock %}
